body {

    margin:0;

    font-family:Segoe UI, sans-serif;

    background:#1f2937;

    color:white;

}

.hero{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100vh;

}

button{

    margin-top:20px;

    padding:15px 35px;

    font-size:18px;

    cursor:pointer;

}